.image-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:4px;
  justify-items:center;
  align-items:center;
  padding-left: 150px;
  padding-right: 150px;

}
.image-item{
  width:90%;
  height:300;
  border: 3px solid #E9EC6B;

}
.line{
  border:None;
  border-top: 3px solid #111010;
  margin: 10px 0;
}

.page-heading{
  font-family:'Times New Roman', Times, serif;
  text-align:center;
  margin-bottom:10px;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fbe4ff;
}
